header{
    background-color: #369426;
    padding: 20px;
}

.mao{
    margin-left: 196px;
}

.controle{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    margin-left: 196px;
    margin-top: 223px;
}

.meuverdinho{
    left: 55.35%;
    right: 36.25%;
    top: 3.22%;
    bottom: 91.21%;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22.6995px;
    line-height: 21px;

    text-align: center;

    color: #006600;
}

.error {
    color: #FF0000;
}
