/* Reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Colors */
:root{
    --disable: #95A493;
    --active: #FFFFFF;
    --primary: #27771A;
    --secondary: #683A25;
}

/* Font Default */
html, body, main, p, h1, a, button{
    font-family: 'Montserrat', sans-serif;;
}

body{
    background-color: #F6F9FC;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #369426;
    padding: 20px;
    overflow-y: hidden;
}

header img{
    margin-bottom: -40px;
}

.divisor{
    border-right: 2px solid #006600;
    height: 58px;
    margin: 0 15px;
}

main{
    position: relative;
}

.content{
    display: flex;
    max-width: 1051px;
    margin: auto;
}

main .detalhe-body{
    position: absolute;
    left: 0;
    top: 0;
}

main .chamada{
    padding-top: 215px;
}

.controle{
    line-height: 36px;
}

.mao{
    margin-top: 29px;
    margin-left: -20px;
}

.meuverdinho{
    left: 55.35%;
    right: 36.25%;
    top: 3.22%;
    bottom: 91.21%;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22.6995px;
    line-height: 21px;

    text-align: left;

    color: #006600;
}

.formulario{
    margin-top: 215px;
    margin-left: 179px;
}

.links ul{
    display: flex;
    justify-content: center;
    padding: 0 31px 52px;
}

.links ul li{
    margin-right: 81px;
    list-style: none;
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    text-align: center;
    position: relative;
}

.links ul li:last-child::after{
    content: "";
    width: 100px;
    height: 2px;
    background-color: var(--primary);
    position: absolute;
    bottom: -11px;
    left: 0;
    margin-top: 19px;
}

.links ul li a{
    color: #000000;
    text-decoration: none;
}

.group-input{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.group-input label{
    margin-bottom: 16px;
}

.input{
    display: flex;
}

.input svg{
    margin-left: -30px;
}

.group-input input{
    border-width: 0;
    border-bottom-width: 1px;
    border-bottom-color: #DEE1EF;
    font-size: 14px;
    line-height: 16px;
    color: #7B807B;
    width: 100%;
    height: 30px;
    padding-bottom: 13px;
    background-color: transparent;
}

.group-input input:focus{
    border-width: 0;
    border-bottom-width: 1px;
    border-bottom-color: var(--primary);
    outline: none;
}

.cadastrar input{
    background-image: url("../img/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 315px;
    height: 72px;
    background-color: transparent;
    border-radius: 58px;
    border-width: 0;
    color: white;
    font-size: 20px;
    font-weight: 400;
    box-shadow: 0px 8px 16px rgba(27, 57, 255, 0.2)
}