*{
    margin: 0;
    padding: 0;
}

html, body, p, h1, li, a, input{
    font-family: "Montserrat";
}

header{
    background-color: #157107;
    height: 100vh;
    position: relative;
}

nav{
    height: 145px;
    display: flex;
    align-items: center;
    z-index: 1;
    position: relative;
}

.detalhes-header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 90px;
    height: 102px;
}

.logo .divisor{
    height: 58px;
    border-right: 2px solid #003800;
    margin: 0 14px;
}

.logo h1{
    font-size: 20px;
    line-height: 21px;
    font-weight: 500;
    color: #003800;
}

.content-menu{
    width: 1245px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.links{
    display: flex;
    align-items: center;
}

.links ul{
    display: flex;
    align-items: center;
}

.links ul li{
    margin-right: 59px;
    list-style: none;
}

.links ul li:last-of-type{
    border: 1px solid white;
    border-radius: 44px;
    width: 315px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.links ul li:last-of-type:hover, .links ul li:last-of-type:hover a{
    background-color: white;
    color: #157107;
}

.links ul li a{
    color: white;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    font-weight: 600;
}

.container{
    width: 1245px;
    margin: auto;
}

.content-header{
    display: flex;
    height: calc(100vh - 145px);
    justify-content: center;
    align-items: center;
}

.content-header .texto{
    color: white;
}

.content-header .texto h2{
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 31px;
}

.content-header .texto p{
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    line-height: 30px;
}

.content-header .texto .button{
    margin-top: 40px;
    height: 72px;
    display: flex;
}

.content-header .texto .button a{
    color: #003800;
    padding: 24px 69px;
    border-radius: 44px;
    font-size: 20px;
    font-weight: 600;
    border-width: 0;
    background-color: white;
    text-decoration: none;
}

.content {
    display: flex;
    align-items: center;
    height: 100vh;
}

#gastos.content .texto{
    margin-left: 87px;
}

.texto h2{
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 31px
}

.texto p{
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
}

section{
    position: relative;
}

section#section-compartilhar{
    background-color: #157107;
}

#compartilhar.content .texto{
    margin-right: 142px;
}

#compartilhar.content .texto p, h2{
    color: white;
}

.detalhe1{
    position: absolute;
    right: 0;
    top: -115px;
    height: 409px;
}

footer{
     height: 241px;
     background-color: #3A3A3A;
     overflow-y: hidden;
}

footer .txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-left: 122px;
    margin-top: 56px;
}

footer .txt div{
    display: flex;
    margin-bottom: 13px;
}

footer .txt div p{
    color: white;
    margin-left: 15px;
}

.logo1{
    margin-left: 112px;
    margin-bottom: -50px;
}

.content-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}